<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhitan.peakvalley.mapper.SettingElectricityPriceDateMapper">

    <resultMap type="com.zhitan.peakvalley.domain.SettingElectricityPriceDate" id="ElectricityPriceDateResult">
        <result property="id"    column="id"    />
        <result property="beginDate"    column="begin_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectElectricityPriceDateVo">
        select id, begin_date, end_date, create_by, create_time, update_by, update_time, remark from setting_electricity_price_date
    </sql>

    <select id="selectElectricityPriceDateList" parameterType="com.zhitan.peakvalley.domain.SettingElectricityPriceDate" resultMap="ElectricityPriceDateResult">
        <include refid="selectElectricityPriceDateVo"/>
        <where>
            <if test="beginDate != null "> and begin_date = #{beginDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
        </where>
    </select>

    <select id="selectElectricityPriceDateById" parameterType="String" resultMap="ElectricityPriceDateResult">
        <include refid="selectElectricityPriceDateVo"/>
        where  id = #{id}
    </select>

    <insert id="insertElectricityPriceDate" parameterType="com.zhitan.peakvalley.domain.SettingElectricityPriceDate">
        insert into setting_electricity_price_date
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="beginDate != null">begin_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="beginDate != null">#{beginDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateElectricityPriceDate" parameterType="com.zhitan.peakvalley.domain.SettingElectricityPriceDate">
        update setting_electricity_price_date
        <trim prefix="SET" suffixOverrides=",">
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElectricityPriceDateById" parameterType="String">
        delete from setting_electricity_price_date where id = #{id}
    </delete>

    <delete id="deleteElectricityPriceDateByIds" parameterType="String">
        delete from setting_electricity_price_date where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectElectricityPriceDatePageTacticsAll"  resultMap="ElectricityPriceDateResult">
        <include refid="selectElectricityPriceDateVo"/>
        WHERE begin_date &lt; CURRENT_TIMESTAMP
        AND end_date &gt; CURRENT_TIMESTAMP
    </select>
</mapper>