######################################################################
# Build Tools (Java / Maven / Gradle)

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

######################################################################
# Node / Frontend

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
*.local
tests/**/coverage/
tests/e2e/reports
selenium-debug.log

######################################################################
# IDE

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

### JRebel ###
rebel.xml

######################################################################
# OS

.DS_Store
**/.DS_Store

######################################################################
# Logs / temp / local

*.log
*.xml.versionsBackup
*.swp

uploadPath
.workbuddy/

######################################################################
# Docker local data (if created beside compose)

docker/postgres_data/
docker/redis_data/
docker/influxdb_data/
