<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhitan.energyIndicators.mapper.EnergyIndicatorsMapper">

    <resultMap type="com.zhitan.energyIndicators.domain.EnergyIndicators" id="EnergyIndicatorsResult">
        <result property="nodeId"    column="node_id"    />
        <result property="timeType"    column="time_type"    />
        <result property="dataTime"    column="data_time"    />
        <result property="name"    column="name"    />
        <result property="number"    column="number"    />
        <result property="unit"    column="unit"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="energyType"    column="energy_type"    />
        <result property="indicatorsType"    column="indicators_type"    />
        <result property="energyIndicatorsId"    column="energy_indicators_id"    />
        <result property="nodeName"    column="node_name"    />
    </resultMap>

    <sql id="selectEnergyIndicatorsVo">
        select node_id, time_type, data_time, name, number, unit, del_flag, create_by, create_time, update_by, update_time, remark,
               energy_type, indicators_type, energy_indicators_id, node_name from energy_indicators
    </sql>

    <select id="selectEnergyIndicatorsList" parameterType="com.zhitan.energyIndicators.domain.EnergyIndicators" resultMap="EnergyIndicatorsResult">
        <include refid="selectEnergyIndicatorsVo"/>
        <where>
            <if test="nodeId != null  and nodeId != ''"> and node_id = #{nodeId}</if>
            <if test="timeType != null  and timeType != ''"> and time_type = #{timeType}</if>
            <if test="dataTime != null  and dataTime != ''"> and data_time = #{dataTime}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="energyType != null  and energyType != ''"> and energy_type = #{energyType}</if>
            <if test="indicatorsType != null  and indicatorsType != ''"> and indicators_type = #{indicatorsType}</if>
            <if test="energyIndicatorsId != null  and energyIndicatorsId != ''"> and energy_indicators_id = #{energyIndicatorsId}</if>
            <if test="nodeName != null  and nodeName != ''"> and node_name like concat('%', #{nodeName}, '%')</if>
        </where>
    </select>

    <select id="selectEnergyIndicatorsByNodeId" parameterType="String" resultMap="EnergyIndicatorsResult">
        <include refid="selectEnergyIndicatorsVo"/>
        where energy_indicators_id = #{nodeId}
    </select>

    <insert id="insertEnergyIndicators" parameterType="com.zhitan.energyIndicators.domain.EnergyIndicators">
        insert into energy_indicators
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nodeId != null">node_id,</if>
            <if test="timeType != null">time_type,</if>
            <if test="dataTime != null">data_time,</if>
            <if test="name != null">name,</if>
            <if test="number != null">number,</if>
            <if test="unit != null">unit,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="energyType != null">energy_type,</if>
            <if test="indicatorsType != null">indicators_type,</if>
            <if test="energyIndicatorsId != null and energyIndicatorsId != ''">energy_indicators_id,</if>
            <if test="nodeName != null">node_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nodeId != null">#{nodeId},</if>
            <if test="timeType != null">#{timeType},</if>
            <if test="dataTime != null">#{dataTime},</if>
            <if test="name != null">#{name},</if>
            <if test="number != null">#{number},</if>
            <if test="unit != null">#{unit},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="energyType != null">#{energyType},</if>
            <if test="indicatorsType != null">#{indicatorsType},</if>
            <if test="energyIndicatorsId != null and energyIndicatorsId != ''">#{energyIndicatorsId},</if>
            <if test="nodeName != null">#{nodeName},</if>
         </trim>
    </insert>

    <update id="updateEnergyIndicators" parameterType="com.zhitan.energyIndicators.domain.EnergyIndicators">
        update energy_indicators
        <trim prefix="SET" suffixOverrides=",">
            <if test="timeType != null">time_type = #{timeType},</if>
            <if test="dataTime != null">data_time = #{dataTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="number != null">number = #{number},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="energyType != null">energy_type = #{energyType},</if>
            <if test="indicatorsType != null">indicators_type = #{indicatorsType},</if>
            <if test="energyIndicatorsId != null and energyIndicatorsId != ''">energy_indicators_id = #{energyIndicatorsId},</if>
            <if test="nodeName != null">node_name = #{nodeName},</if>
        </trim>
        where energy_indicators_id = #{energyIndicatorsId}
    </update>

    <delete id="deleteEnergyIndicatorsByEnergyIndicatorsId" parameterType="String">
        delete from energy_indicators where energy_indicators_id = #{energyIndicatorsId}
    </delete>

    <delete id="deleteEnergyIndicatorsByEnergyIndicatorsIds" parameterType="String">
        delete from energy_indicators where energy_indicators_id in
        <foreach item="energyIndicatorsId" collection="array" open="(" separator="," close=")">
            #{energyIndicatorsId}
        </foreach>
    </delete>
</mapper>
